/* root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  list-style-type: none;
}

a, span, p {
  color: rgb(128, 128, 128);
  margin: 10px 20px;
}

a {
  text-decoration: none;
}

h2, h4 {
  color: #ddd;
  margin: 10px 20px;
}

.vh-box {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.contenitore {
  display: flex;
  overflow: auto;
  height: calc(100vh - 60px);
}

/* head-botton */
.upgrade {
  background-color: black;
  opacity: 0.5;
  min-height: 60px;
  width: 100%;
  text-align: right;
  line-height: 60px;
  position: fixed;
  top: 0;
  right: 0;
}

.upgrade a {
  margin-right: 20px;
  padding: 10px 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  font-size: 8px;
  color: #ddd;
}

/* nav- aside */
.nav-aside {
  padding: 10px 20px;
  background-color: black;
  width: 300px;
  min-height: 350px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-aside  a img {
  margin-bottom: 10px;
  width: 170px;
}

.nav-aside ul li>a img {
  margin-right: 5px;
  width: 30px;
  vertical-align: middle;
}

.home li:hover {
  border-left: 2px solid green;
}

.playlist li {
  margin: 15px 0;
}

.fas.fa-plus {
  background-color: #ccc;
  color: black;
  padding: 8px;
  margin-right: 10px;
}

.playlist {
  height: 45vh;
  color: #ddd;
  overflow: auto;
}

/* profile */

.account ul li a{
  margin: 0;
}

.account ul li:last-child {
  border-top: 1px solid grey;
  line-height: 30px;
  font-size: 20px;
  color: white;
}

.account .fa-user-circle {
  font-size: 30px;
}

.account ul li {
  padding: 10px 0;
}

.account ul li i {
  margin-right: 10px;
}

/* navbar main */
.navbar ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 70px;
}

.navbar ul li a{
  margin:0 10px;
}

.navbar ul li {
  padding: 10px 5px;
  font-size: 10px;
}

.navbar ul li:hover {
  background-image: url("../img/green-nav.svg");
  background-size: 20px 50px;
  background-repeat: no-repeat;
  background-position: top;
}

.box-item {
  background-color: #0d0b19;
  width: 100%;
  overflow: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 10px;
  width: calc(100% - 20px);
}

.copertina img {
  width: 100%;
  margin-top: 20px;
}

.copertina {
  margin: 5px;
  max-width: calc(100% / 6 - 10px);
  text-align: center;
}

.pop .copertina img {
  border-radius: 50%;
}

/* footer */
.player {
  background-color: rgb(48,48,48);
  min-height: 60px;
  width: 100%;
  z-index: 999;
}

/* madia xs*/
@media screen and (max-width: 552px) {
  .copertina{
    max-width: calc(100% / 2 - 10px);
  }
}

/* media s */
@media screen and (min-width: 553px) and (max-width: 639px){
  .copertina{
    max-width: calc(100% / 2 - 10px);
  }

}

/* media md */
@media screen and (min-width: 640px) and (max-width: 878px){
  .copertina{
    max-width: calc(100% / 4 - 10px);
  }

}
